body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4c9daf;
}

header {
    background-color: #4c9daf;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #190e39;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #4c9daf;
}

section {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

h2 {
    border-bottom: 2px solid #190e39;
    padding-bottom: 0.5em;
}

.row {
    display: flex;
    justify-content: space-around;
}

.column {
    flex: 1;
    margin: 0.5em;
    padding: 1em;
    background-color: #190e39;
    border: 1px solid #190e39;
    color: white;
    border-radius: 5px;
}

.portfolio-item {
    text-align: center;
    margin: 1em 0;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.loader {
    align-self: center;
    width: 90px;
    height: 14px;
    background: radial-gradient(circle closest-side,#000 92%,#0000) calc(100%/3) 0/calc(100%/4) 100%;
    animation: l2 0.5s infinite linear;
  }
  @keyframes l2 {
      100% {background-position: 0 0}
  }

  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }

footer {
    background-color:#190e39;
    color: white;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}
